<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>

<h1>The William & Mary Archive</h1>
<div class="department-buttons">
    <button>Computer Science</button>
    <button>Mathematics</button>
    <button>Biology</button>
    <button>Humanities</button>
</div>
<div class="research-cards">
    <button class="card">
        <div class="card-title">
            Research Title
            <div class="card-description">
                Research Summary
            </div>
        </div>
    </button>
    <button class="card">
        <div class="card-title">
            Research Title
            <div class="card-description">
                Research Summary
            </div>
        </div>
    </button>
    <button class="card">
        <div class="card-title">
            Research Title
            <div class="card-description">
                Research Summary
            </div>
        </div>
    </button>
</div>

</body>
</html>