<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>

<h1>The Tribe Research Collection</h1>
<div class="department-buttons">
    <button>Computer Science</button>
    <button>Mathematics</button>
    <button>Biology</button>
    <button>Humanities</button>
</div>
<div class="research-cards">
    {%for research in cs_research_data%}
    <a href="{{research.link}}" class="card {%if research.professor == 'Trey Woodlief'%}card-trey {%elif research.professor == 'Yixuan Zhang'%}card-yixuan {%elif research.professor == 'Bin Ren'%}card-bren {%elif research.professor == 'Oscar Chaparro'%}card-chaparro {%elif research.professor == 'Denys Poshyvanyk'%}card-denysp {%endif%}" target="_blank">
        <div class="card-title">
            {{research.title}}
            <div class="card-description" >
                {{research.professor}}
            </div>
            <div class="card-description">
                {{research.description}}
            </div>
        </div>
    </a>
    {%endfor%}
</div>

</body>
</html>